@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Merriweather:wght@700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "daisyui" {
  themes: all;
}

@theme {
  --font-poppins: 'Poppins', 'sans-serif';
  --font-nuno: 'Nunito', 'sans-serif';
  --font-merri:'Merriweather', 'serif'
}



.course-card {
  display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}




